.accordion-image-50-50 {
  display: flex;
  width: 100%;
  gap: 32px;
}

/* LEFT */
.accordion-left {
  width: 50%;
}

.accordion-item {
  border-bottom: 1px solid #e5e5e5;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.accordion-item button {
  font-size: 20px !important;
  background-color: unset;
  color: #000;
  font-weight: 100;
}

.accordion-header {
  width: 100%;
  background: #fff;
  border: none;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  cursor: pointer;
}

.accordion-item.active {
border-left: 4px solid #0f62fe;
}

.accordion-item.active button{
 margin:0 !important;
}

/* body */
.accordion-body {
    padding-left: 20px;
  max-height: 0;
  overflow: hidden;
  transition: all 0.25s ease;
}

.accordion-item.active .accordion-body {
  max-height: 500px;
}

/* CTA */
.accordion-cta {
  color: #0f62fe; /* IBM Blue */
  font-weight: 600;
  text-decoration: none !important;
  display: inline-flex;
  align-items: center;
  gap: 6px;
}

.accordion-cta::after {
  content: '→';
  font-size: 18px;
  line-height: 1;
  transition: transform 0.2s ease;
}



/* RIGHT */
.accordion-right {
  width: 50%;
  background: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.accordion-image {
aspect-ratio: 1.3;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.accordion-icon {
  margin-top: 8px;
  width: 17px;
  height: 18px;
  position: relative;
  display: inline-block;
}

/* Draw the V-shaped chevron */
.accordion-icon::before,
.accordion-icon::after {
  content: '';
  position: absolute;
  top: 6px;
  width: 8px;
  height: 2px;
  background-color: #000; /* arrow color */
  transition: transform 0.2s ease;
}

/* left stroke */
.accordion-icon::before {
  left: 2px;
  transform: rotate(45deg);
}

/* right stroke */
.accordion-icon::after {
  right: 2px;
  transform: rotate(-45deg);
}

/* when accordion is open → arrow points up */
.accordion-item.active .accordion-icon::before {
  transform: rotate(-45deg);
}

.accordion-item.active .accordion-icon::after {
  transform: rotate(45deg);
}

.accordion-section h1{
    font-size: 50px;
    font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 300;
}

.accordion-item button{
    margin:0 !important;
}

.accordion-body a {
    font-weight: 100;
    font-size: 16px;
    }
