.accordion-image-50-50 {
  display: flex;
  width: 100%;
  gap: 32px;
}

/* LEFT */
.accordion-left {
  width: 50%;
}

.accordion-item {
  border-bottom: 1px solid #e5e5e5;
}

.accordion-item button {
  font-size: 20px !important;
  background-color: unset;
  color: #000;
  font-weight: 100;
}

.accordion-header {
  width: 100%;
  padding: 20px 24px;
  background: #fff;
  border: none;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  cursor: pointer;
}

.accordion-item.active .accordion-header {

}

/* body */
.accordion-body {
  padding: 0 24px;
  max-height: 0;
  overflow: hidden;
  transition: all 0.25s ease;
}

.accordion-item.active .accordion-body {
  padding: 16px 24px 24px;
  max-height: 500px;
}

/* CTA */
.accordion-cta {
  display: inline-block;
  margin-top: 12px;
  font-weight: 600;
  color: #0f62fe;
  text-decoration: none;
}

/* RIGHT */
.accordion-right {
  width: 50%;
  background: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.accordion-image {
aspect-ratio: 1.3;
  width: 100%;
  height: auto;
  object-fit: cover;
}
