.section.contentsection3-container .contentsection3.block {
  background-color: #fff;
  font-family: "Univers LT W01_45 Light1475944";
  margin-right: 8rem;
  margin-left:8rem;
  line-height: 1.6;
  color: #575756
}

.section.contentsection3-container .contentsection3.block p {
  font-size: 18px;
  margin: 0 0 1em;
  color: #4a4a4a;
}

.section.contentsection3-container .contentsection3.block p strong {
  font-weight: 700;
  color: #4a4a4a;
}

.section.contentsection3-container .contentsection3.block a {
  color: #8a1d65;
  text-decoration: none;
}
.section.contentsection3-container .contentsection3.block a:hover {
  text-decoration: underline;
}

.section.contentsection3-container .contentsection3.block ul {
  list-style: none;
  padding-left: 0;
  margin: 0.5em 0 1em;
}

.section.contentsection3-container .contentsection3.block ul li {
  font-size: 14px;
  color: #4a4a4a;
  margin-bottom: 0.4em;
}

.section.contentsection3-container .contentsection3.block ul li a {
  color: #8a1d65;
  text-decoration: none;
}

.section.contentsection3-container .contentsection3.block h5 {
  font-size: 16px;
  color: #4a4a4a;
  margin: 1em 0 0.5em;
  font-weight: 700;
}

.section.contentsection3-container .contentsection3.block p:last-of-type {
  margin-top: 1em;
  font-size: 14px;
  color: #4a4a4a;
}
